---
services:
  traefik:
    image: traefik:v3.6.7
    container_name: traefik-public
    restart: unless-stopped
    networks:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./config/:/etc/traefik/conf/:ro
      - ./certs/:/etc/traefik/certs/:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik-public-http.rule=Host("traefik.public.vdbhome.ovh")
      - traefik.http.routers.traefik-public-http.entrypoints=web
      - traefik.http.routers.traefik-public-http.service=api@internal
networks:
  frontend:
    external: true
  backend:
    external: true