version: "3.9"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped

    environment:
      - TZ=Europe/Brussels
      - WEBPASSWORD=${WEBPASSWORD}
      - DNSMASQ_LISTENING=all

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80"

    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

    cap_add:
      - NET_ADMIN

    networks:
      - pihole_net

networks:
  pihole_net:
    driver: bridge
