---
services:
  postgres:
    image: pgvector/pgvector:pg18-trixie
    container_name: postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./data/postgres:/var/lib/postgresql
      - ./init:/docker-entrypoint-initdb.d:ro
    networks:
      - backend

networks:
  backend:
    external: true
