# --- CORE SETTINGS ---
APP_NAME=DataImporter
APP_ENV=production
APP_DEBUG=false
TZ=Europe/Brussels
TRUSTED_PROXIES=**

# --- CONNECTION TO FIREFLY III CORE ---
# This must match your 'app' service name in docker-compose
FIREFLY_III_URL=http://app:8080
VANITY_URL=https://firefly.prod.home.woutvdb.be
EXPECT_SECURE_URL=true
VERIFY_TLS_SECURITY=true
CONNECTION_TIMEOUT=31.41

# --- ENABLE BANKING CONFIG ---
# Get these from https://enablebanking.com/
ENABLE_BANKING_APP_ID=c4330a90-a043-4c57-b75a-0697ac6a67c5
ENABLE_BANKING_PRIVATE_KEY_FILE=/var/www/html/storage/enable_banking.key

# --- IMPORT BEHAVIOR ---
FALLBACK_LOCALE=nl_NL
USE_CACHE=true
IGNORE_DUPLICATE_ERRORS=true
IGNORE_NOT_FOUND_TRANSACTIONS=false

# --- AUTO IMPORT SETTINGS ---
# Set a 16+ character secret here to use the webhooks
AUTO_IMPORT_SECRET=CHANGE_THIS_TO_SOMETHING_SECURE
CAN_POST_AUTOIMPORT=true
CAN_POST_FILES=false

# --- LOGGING & DRIVERS ---
LOG_CHANNEL=stack
LOG_LEVEL=notice
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120