---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./config/prowlarr:/config
    # ports:
    #   - 9696:9696
    networks:
      - frontend
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.prowlarr-https.rule=Host('prowlarr.prod.vdbhome.ovh')
      - traefik.http.routers.prowlarr-https.entrypoints=websecure
      - traefik.http.routers.prowlarr-https.tls=true
      - traefik.http.routers.prowlarr-https.tls.certresolver=cloudflare
      - traefik.http.routers.prowlarr-https.service=prowlarr-https-svc
      - traefik.http.services.prowlarr-https-svc.loadbalancer.server.port=9696
      - traefik.http.routers.prowlarr-https.middlewares=authentik@file

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./config/sonarr:/config
      - ${NFS_DOWNLOAD_MOUNT}:/downloads
      - ${NFS_MEDIA_MOUNT}/tv:/tv
    # ports:
    #   - 8989:8989
    networks:
      - frontend
    depends_on:
      - prowlarr
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.sonarr-https.rule=Host('sonarr.prod.vdbhome.ovh')
      - traefik.http.routers.sonarr-https.entrypoints=websecure
      - traefik.http.routers.sonarr-https.tls=true
      - traefik.http.routers.sonarr-https.tls.certresolver=cloudflare
      - traefik.http.routers.sonarr-https.service=sonarr-https-svc
      - traefik.http.services.sonarr-https-svc.loadbalancer.server.port=8989
      - traefik.http.routers.sonarr-https.middlewares=authentik@file

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./config/radarr:/config
      - ${NFS_DOWNLOAD_MOUNT}:/downloads
      - ${NFS_MEDIA_MOUNT}/movies:/movies
    # ports:
    #   - 7878:7878
    networks:
      - frontend
    depends_on:
      - prowlarr
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.radarr-https.rule=Host('radarr.prod.vdbhome.ovh')
      - traefik.http.routers.radarr-https.entrypoints=websecure
      - traefik.http.routers.radarr-https.tls=true
      - traefik.http.routers.radarr-https.tls.certresolver=cloudflare
      - traefik.http.routers.radarr-https.service=radarr-https-svc
      - traefik.http.services.radarr-https-svc.loadbalancer.server.port=7878
      - traefik.http.routers.radarr-https.middlewares=authentik@file

  jellyseerr:
    image: ghcr.io/seerr-team/seerr:latest
    container_name: jellyseerr
    environment:
      - TZ=Europe/Brussels
      - LOG_LEVEL=info
    volumes:
      - ./config/jellyseerr:/app/config
    # ports:
    #   - 5055:5055
    networks:
      - frontend
    depends_on:
      - sonarr
      - radarr
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.jellyseerr-https.rule=Host('jellyseerr.prod.vdbhome.ovh')
      - traefik.http.routers.jellyseerr-https.entrypoints=websecure
      - traefik.http.routers.jellyseerr-https.tls=true
      - traefik.http.routers.jellyseerr-https.tls.certresolver=cloudflare
      - traefik.http.routers.jellyseerr-https.service=jellyseerr-https-svc
      - traefik.http.services.jellyseerr-https-svc.loadbalancer.server.port=5055

  bookshelf:
    image: ghcr.io/pennydreadful/bookshelf:hardcover-v0.4.20.107
    container_name: bookshelf
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    volumes:
      - ./config/bookshelf:/config
      - ${NFS_DOWNLOAD_MOUNT}:/downloads
      - ${NFS_MEDIA_MOUNT}/books:/books
    # ports:
    #   - 8080:8080
    networks:
      - frontend
    depends_on:
      - prowlarr
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend
      - traefik.http.routers.bookshelf-https.rule=Host('bookshelf.prod.vdbhome.ovh')
      - traefik.http.routers.bookshelf-https.entrypoints=websecure
      - traefik.http.routers.bookshelf-https.tls=true
      - traefik.http.routers.bookshelf-https.tls.certresolver=cloudflare
      - traefik.http.routers.bookshelf-https.service=bookshelf-https-svc
      - traefik.http.services.bookshelf-https-svc.loadbalancer.server.port=8080
      - traefik.http.routers.bookshelf-https.middlewares=authentik@file

networks:
  frontend:
    external: true
