---
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      # qBittorrent
      # - 8080:8080/tcp        # Web UI
      # NZBGet
      # - 6789:6789/tcp        # Web UI
    volumes:
      - ./config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=fastestvpn
      - SERVER_COUNTRIES=Finland
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - TZ=Europe/Brussels
      - UPDATER_PERIOD=24h
    networks:
      - frontend
    labels:
      - traefik.enable=true
      - traefik.docker.network=frontend

      #qBitTorrent
      - traefik.http.routers.torrent-https.rule=Host('torrent.prod.vdbhome.ovh')
      - traefik.http.routers.torrent-https.entrypoints=websecure
      - traefik.http.routers.torrent-https.tls=true
      - traefik.http.routers.torrent-https.tls.certresolver=cloudflare
      - traefik.http.routers.torrent-https.service=torrent-https-svc
      - traefik.http.services.torrent-https-svc.loadbalancer.server.port=8080

      # NZBget
      - traefik.http.routers.nzb-https.rule=Host('nzb.prod.vdbhome.ovh')
      - traefik.http.routers.nzb-https.entrypoints=websecure
      - traefik.http.routers.nzb-https.tls=true
      - traefik.http.routers.nzb-https.tls.certresolver=cloudflare
      - traefik.http.routers.nzb-https.service=nzb-https-svc
      - traefik.http.services.nzb-https-svc.loadbalancer.server.port=6789

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    network_mode: service:gluetun
    depends_on:
      - gluetun
    volumes:
      - ./config/qbittorrent:/config
      - ${NFS_DOWNLOAD_MOUNT}:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
      - WEBUI_PORT=8080
    restart: unless-stopped

  nzbget:
    image: lscr.io/linuxserver/nzbget
    container_name: nzbget
    network_mode: service:gluetun
    depends_on:
      - gluetun
    volumes:
      - ./config/nzbget:/config
      - ${NFS_DOWNLOAD_MOUNT}:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Brussels
    restart: unless-stopped

networks:
  frontend:
    external: true